@media (max-width: 1200px){
    #super_gift p:first-child {
        margin-top: -16px;
        font-size: 100px;
        margin-bottom: 0px;
    }
}

@media (max-width: 991px){

    .header_info{
        text-align: center;
        margin-top: 40px;
    }

    header {
        padding: 40px 0 20px 0;
    }

    .main_list_option{
        display: block;
        margin: 60px auto;
        text-align: center;
        width: 500px;
    }

    .main_gift{
        display: inline-block;
        margin: 0px;
        padding: 27px 0 0;
    }

    .main_action{
        display: inline-block;
        margin: 0 30px 0 0;
    }

    .main_present{
        text-align: center;
    }

    .logo{
        text-align: center;
    }

    #video a {
        width: 90%;
    }

    #super_gift p {
        font-size: 30px;
    }

    #super_gift p:last-child{
        margin-bottom: 80px;
    }

    #super_gift p:first-child{
        margin-top: 0px;
    }
}


@media (max-width: 767px){
    #char{
        background: url(../img/bg_2_2.jpg)no-repeat center center;
        background-size: cover;
    }

    .char-col-4{
        width: 47%;
    }    

    .char-col-4:nth-child(2){
        width: 0px;
    }

    .slider_show_wrap {
        width: 90%;
        margin: 0 auto;
    }

    .slider_item_img {
        width: 100%;
        text-align: center;
        background: none;
        padding-left: 0px;
        margin-top: 40px;
    }

    .slider_item_text {
        width: 100%;
    }

    .slider_show_wrap .owl-nav{
        display: none;
    }

    .owl-dots{
        display: block;
    }

    .slider_item_text {
        background: none; 
        padding: 0px; 
    }

    .qws_title_1, .qws_title_2{
        text-align: left;
    }

    .owl-nav{
        display: none;
    }
    
    .slider_qws_item{
        background: #00000073;
        padding: 25px;
        border-radius: 15px;
    }

    .slider_qws_wrap {
        width: 95%;
        margin: 0 auto;
    }

    #stolica .text{
        text-align: center;
    }
}

@media (max-width: 500px){

    .char-col-4{
        width: 100%;
        margin-bottom: 20px;
    }    

    .char-col-4:nth-child(2){
        width: 0px;
    }
    #char .flex {
        text-align: center;
        display: block;
    }

    .char_title_right, .char_title_left, .char_desc_right, .char_desc_left{
        text-align: center;
    }

    .main_list_option {
        width: auto;
    }

    .t_price {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .product_title {
        font-size: 30px;
    }

    .product_item_content p {
        font-size: 20px;
    }

    .price_button a {
        font-size: 40px;
    }

    #video a span {
        width: 50px;
        height: 50px;
        font-size: 50px;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
    }

    .header_phone {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

}




