@media (max-width: 1200px){
    .phone_humber{
        font-size: 18px;
    }

    .qws_item_title{
        font-size: 15px;
    }

    ..blog_item{
        max-height: 410px;
    }
}

@media (max-width: 991px){

    .header_info{
        text-align: center;
        margin-top: 40px;
    }

    header {
        padding: 40px 0 20px 0;
    }

    .main_list_option{
        display: block;
        margin: 60px auto;
        text-align: center;
        width: 500px;
    }

    .main_gift{
        display: inline-block;
        margin: 0px;
        padding: 27px 0 0;
    }

    .main_action{
        display: inline-block;
        margin: 0 30px 0 0;
    }

    .main_present{
        text-align: center;
    }

    .logo{
        text-align: center;
    }
}


@media (max-width: 767px){
    #char{
        background: url(../img/bg_2_2.jpg)no-repeat center center;
        background-size: cover;
    }

    .char-col-4{
        width: 47%;
    }    

    .char-col-4:nth-child(2){
        width: 0px;
    }
}

@media (max-width: 500px){

    .char-col-4{
        width: 100%;
        margin-bottom: 20px;
    }    

    .char-col-4:nth-child(2){
        width: 0px;
    }
    #char .flex {
        text-align: center;
        display: block;
    }

    .char_title_right, .char_title_left, .char_desc_right, .char_desc_left{
        text-align: center;
    }

}




