body{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #333333;
    font-size: 16px;
}

h1{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #333333;
}

h2{

}

#main{
    color: #ffffff;
    background: url(../img/bg.png)no-repeat;
    background-size: cover;
}

header{
    padding: 20px 0 20px 0;
}

.logo{
    text-align: left;
}

.header_info{
    text-align: right;
}

.header_phone{
    font-size: 24px;
    margin-right: 30px;
}

.header_callback a{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px dashed #ffffff;
    padding: 10px;
}

.header_callback a:hover{
    background: rgba(255, 255, 255, 0.47);
    color: #ffffff;
    text-decoration: none;
}

#main h1{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 53px;
    margin: 0 0 60px 0;
}

.main_content{
    padding: 30px 0 100px 0;
}

.main_list_option{
    margin: 60px 0 0 0;
}

.main_list_option ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_list_option ul li{
    display: table;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: left;
}

.main_list_option ul li span{
    display: table-cell;
    vertical-align: middle;
}

.main_list_option ul li span:last-child{
    padding-left: 30px;
}

.show_icon_main{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: #ff0000;
    text-align: center;
    line-height: 60px;
    margin-right: 25px;
}

.main_present{
    margin: 36px 0 0 0;
}

.main_action{
    padding: 22px 0 0;
    width: 126px;
    height: 126px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #c80e1b;
    -webkit-box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    -moz-box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.main_action span:first-child{
    font-size: 20px;
}

.main_action span:nth-child(2){
    font-size: 56px;
    line-height: 51px;
}

.main_action span:last-child{
    font-size: 24px;
}

.main_gift{
    margin: 40px 60px 0 0;
    padding: 22px 0 0;
    width: 126px;
    height: 126px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #c80e1b;
    -webkit-box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    -moz-box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.main_gift i{
    font-size: 70px;
}

.prices{
    overflow: hidden;
    margin: 112px 0 0 0;
}

.price_1{
    width: 50%;
    float: left;
    border: 1px solid #ffffff;
    text-align: center;
    border-top-left-radius: 10px;
    font-size: 30px;
    color: #efc316;
    padding: 10px;
}

.price_2{
    width: 50%;
    float: left;
    border: 1px solid #ffffff;
    text-align: center;
    border-top-right-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    border-left: none;
    text-decoration: line-through;
}

.main_add_order{
    width: 100%;
    float: left;
    border: 1px dashed #ffffff;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    border-top: none;
}

.main_add_order a{
    text-decoration: none;
    color: #ffffff;
}

.main_add_order a:hover{
    text-decoration: none;
    color: #ffffff;
}

.main_add_order:hover{
    background: rgba(255, 255, 255, 0.47);
}









