body{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #333333;
    font-size: 16px;
}

h1{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #333333;
}

h2{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #333333;
}

h3{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #000000;
}

#main{
    color: #ffffff;
    background: url(../img/bg.png)no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
}

#main:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: url(../img/shadow_bottom.png)repeat-x;
}

header{
    padding: 20px 0 20px 0;
}

.logo{
    text-align: left;
}

.header_info{
    text-align: right;
}

.header_phone{
    font-size: 24px;
    margin-right: 30px;
}

.header_callback a{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px dashed #ffffff;
    padding: 10px;
}

.header_callback a:hover{
    background: rgba(255, 255, 255, 0.47);
    color: #ffffff;
    text-decoration: none;
}

#main h1{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 53px;
    margin: 0 0 60px 0;
}

.main_content{
    padding: 30px 0 100px 0;
}

.main_list_option{
    margin: 60px 0 0 0;
}

.main_list_option ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_list_option ul li{
    display: table;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: left;
}

.main_list_option ul li span{
    display: table-cell;
    vertical-align: middle;
}

.main_list_option ul li span:last-child{
    padding-left: 30px;
}

.show_icon_main{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: #ff0000;
    text-align: center;
    line-height: 60px;
    margin-right: 25px;
}

.main_present{
    margin: 36px 0 0 0;
}

.main_action{
    padding: 22px 0 0;
    width: 126px;
    height: 126px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #c80e1b;
    -webkit-box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    -moz-box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.main_action span:first-child{
    font-size: 20px;
}

.main_action span:nth-child(2){
    font-size: 56px;
    line-height: 51px;
}

.main_action span:last-child{
    font-size: 24px;
}

.main_gift{
    margin: 40px 60px 0 0;
    padding: 22px 0 0;
    width: 126px;
    height: 126px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #c80e1b;
    -webkit-box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    -moz-box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    box-shadow: 0 0 0 8px rgba(200,14,27,0.5);
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.main_gift i{
    font-size: 70px;
}

.prices{
    overflow: hidden;
    margin: 112px 0 0 0;
}

.price_1{
    width: 50%;
    float: left;
    border: 1px solid #ffffff;
    text-align: center;
    border-top-left-radius: 10px;
    font-size: 30px;
    color: #efc316;
    padding: 10px;
}

.price_2{
    width: 50%;
    float: left;
    border: 1px solid #ffffff;
    text-align: center;
    border-top-right-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    border-left: none;
    text-decoration: line-through;
}

.main_add_order{
    width: 100%;
    float: left;
    border: 1px dashed #ffffff;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    border-top: none;
}

.main_add_order a{
    text-decoration: none;
    color: #ffffff;
}

.main_add_order a:hover{
    text-decoration: none;
    color: #ffffff;
}

.main_add_order:hover{
    background: rgba(255, 255, 255, 0.47);
}

#char{
    background: url(../img/bg_2.jpg)no-repeat center center;
    background-color: #000000;
    color: #ffffff;
    min-height: 650px;
    background-size: cover;
    padding: 120px 0;
    position: relative;
}

#char:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: url(../img/shadow_top.png)repeat-x;
}

#char:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: url(../img/shadow_bottom.png)repeat-x;
}


#char h2{
    margin: 0;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 90px;
}

.flex{
    display: flex;
}

.char-col-4{
    width: 31.5%;
    margin-right: 3%;
}

.char_title_right{
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
    color: #efc316;
    text-transform: uppercase;
}

.char_title_left{
    margin-bottom: 5px;
    text-align: left;
    font-size: 20px;
    color: #efc316;
    text-transform: uppercase;
}

.char_desc_right{
    text-align: right;
}

.char_desc_left{
    text-align: left;
}

#char .flex{
    margin-bottom: 20px;
}

.char-col-4:last-child{
    margin-right: 0px;
}

#video{
    position: relative;
    padding: 100px 0;
    background: url(../img/bg_3.png)no-repeat center center;
    background-size: cover;
}

#video:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: url(../img/shadow_top.png)repeat-x;
}

#video h2{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

#video a{
    position: relative;
    display: block;
    margin: 80px auto;
    width: 70%;
    border: 10px solid #ffffff;
}

#video a:before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#video a:hover:before{
    background: rgba(0, 0, 0, 0.3);
}

#video a img{
    width: 100%;
}

#video a span{
    position: absolute;
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-size: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

#product{
    padding: 90px 0;
}

#product h2{
    margin: 0 0 60px 0;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.product_item{
    border: 1px solid #ededed;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 35px;
}

.product_item img{
    width: 100%;
}

.product_item_content{
    padding: 25px;
}


.product_item_content p{
    margin-bottom: 20px;
}

.product_title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1;
}

.product_price{
    overflow: hidden;
}

.t_price{
    width: 50%;
    float: left;
    color: #ff0000;
    font-size: 40px;
    line-height: 1;
}

.t_price span{
    font-size: 26px;
    text-decoration: line-through;
    color: #000000;
}

.price_button{
    text-align: center;
}


.price_button a{
    background: #ff0000;
    color: #ffffff;
    display: inline-block;
    padding: 10px 26px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
}

.price_button a:hover{
    background: rgba(255, 0, 0, 0.58);
    color: #ffffff;
    text-decoration: none;
}

.hidden_form{
    display: none;
    width: 340px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #000000;
}

.hidden_form h3{
    text-align: center;
    text-transform: uppercase;
}

.hidden_form p{
    text-align: center;
    margin-bottom: 30px;
}

.hidden_form input{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
}

.hidden_form input[type="submit"]{
    border: 2px solid #ff0000;
    background: #ff00003b;
    color: #ffffff;
}

.hidden_form input[type="submit"]:hover{
    background: #ff0000;
}

#super_gift{
    padding: 70px 0;
    background: url(../img/bg_4.png)no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

#super_gift h2{
    margin: 0 0 70px 0;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

#super_gift p{
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

#super_gift p:first-child{
    margin-top: 160px;
}


#super_gift p span{
    color: #ff0000;
}

#super_gift img{
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid #ffffff;
}

#show{
    background: url(../img/bg_3.png)no-repeat center center;
    background-size: cover;
    color: #000000;
    padding: 90px 0;
}

#show h2{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 60px 0;
}

.slider_show_wrap{
    width: 80%;
    margin: 0 auto;
}

.slider_show_item{
    background: #ffffff8c;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.slider_item_text{
    width: 70%;
    float: left;
    background: url(../img/bg_kovicki.png)no-repeat left top;
    padding: 0 20px 0 40px;
    font-size: 18px;
}

.slider_item_img{
    width: 30%;
    float: left;
    text-align: center;
    background: url(../img/bg_kovicki_2.png)no-repeat left center;
    padding-left: 30px;
}

.slider_item_img img{
    border-radius: 50%;
}


.slider_item_name{
    font-size: 25px;
}

.owl-carousel .slider_item_img img {
    width: 67%;
    display: inline-block;
    margin-bottom: 20px;
}

.main_img_show{
    border: 4px solid #ffffff;
    margin-bottom: 40px;
}

.slider_left, .slider_right{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    font-size: 50px;
    color: #ffffff70;
    margin-top: -60px;
}

.slider_left:hover, .slider_right:hover{
    color: #ffffff;
}

.slider_left{
    left: -70px;
}

.slider_right{
    right: -70px;
}

.owl-dots{
    display: none;
    text-align: center;
    padding-top: 20px;
}

.owl-carousel button.owl-dot{
    border: 5px solid #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 14px;
}

.owl-carousel button.owl-dot:last-child{
    margin-right: 0px;
}

.owl-carousel button.owl-dot.active{
    background: #ffffff;
}

#qws{
    padding: 90px 0;
    background: url(../img/bg_4.png)no-repeat center center;
    background-size: cover;
    color: #ffffff;
    font-size: 20px;
}

#qws h2{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #efc316;
    margin: 0 0 60px 0;
}

#qws .row{
    margin-bottom: 25px;
}

.qws_title_1, .qws_title_2{
    color: #efc316;
    text-align: right;
    text-transform: uppercase;
}

.qws_text_1{
    font-weight: bold;
}

.slider_qws_wrap{
    width: 80%;
    margin: 0 auto;
}

#add{
    padding: 90px 0;
}

#add h2{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 60px 0;
}

.item_add{
    text-align: center;
    font-size: 20px;
    background: #efc3165e;
    padding: 20px;
    border-radius: 10px;
    min-height: 305px;
    margin-bottom: 35px;
}

.item_add span{
    background: #efc31678;
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 60px;
    border-radius: 50%;
    line-height: 105px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 39px 0 #00000057;
}

#stolica{
    padding: 90px 0 30px 0;
    background: url(../img/stolica.jpg)no-repeat center bottom;
    background-size: cover;
    min-height: 600px;
    color: #ffffff;
}

#stolica .text{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.main_content_bottom{
    background: url(../img/bg.png)no-repeat;
    color: #ffffff;
    padding: 150px 0;
}

footer{
    background: #23262c;
    padding: 30px 0;
    text-align: center;
    color: #ffffff;
}

footer a{
    text-decoration: underline;
    color: #ffffff;
}

footer a:hover{
    text-decoration: none;
    color: #ffffff;
}







